node_modules/
coverage/
oh_modules/
example/node_modules/
example/harmony/oh_modules/
example/harmony/build-profile.json5
example/harmony/**/build/
.hvigor/
.ohos/
**/build/
harmony/**/oh_modules/
harmony/**/build/
harmony/**/.hvigor/
*.iml
.idea/
local.properties
.DS_Store
*.tgz
!example/rnoh-testerino-*.tgz
example/**/rawfile/bundle.harmony.js
